.PlayerCardFront {
  width: 150px;
  height: 250px;
  border: solid gray 1px;
  text-align: center;

  h3,
  h4 {
    margin: 0;
  }
  p {
    border: solid red 2px;
    border-radius: 5px;
    width: 80px;
    margin: 15px auto;
  }

  img {
    height: 45%;
    width: 80%;
    margin: 5% auto 0 auto;
    border-radius: 25%;
    border: solid red 2px;
  }
}
