.Pitch {
  height: 60%;
  width: 40%;
  background-color: rgb(26, 163, 26);

  p {
    height: 60px;
    width: 60px;
    border: solid black 2px;
    background-image: linear-gradient(blue, red);
    margin: 10px;
  }

  .FrontRow {
    display: flex;
  }
  .SecondRow {
    display: flex;
    margin-left: 40px;
  }

  .BackRow {
    display: flex;
  }

  .HalfBacks {
    display: flex;
    margin-left: 50px;
  }

  .Centers {
    display: flex;
    margin-left: 150px;
  }

  .Wings {
    display: flex;
    justify-content: space-between;
  }

  .FullBack {
    margin-left: 50%;
  }
}
