.Pitch {
  height: 60vh;
  width: 70vw;
  background-color: rgb(26, 163, 26);
  border: solid black 2px;

  display: flex;
  flex-direction: row;

  .ShirtPlayer {
    border: solid red 2px;
    height: 55px;
    width: 55px;
    margin: 5px;
  }
}
