.CardList {
  // width: 30%;
  // position: sticky;
  float: right;
  height: 100%;
  background-color: rgb(247, 217, 217);
}

.main {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: row;
  }
}
